<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<script>
    var data = "{{title}}"
</script>
<body>
    {{msg}} --- {{{msg}}}
    <!-- 在原文件中设置 -->
    <!--vue-ssr-outlet-->
<script type="text/javascript" src=".././static/libs.js?e34b361f2dd2dbc2cfa0"></script><script type="text/javascript" src=".././static/main.js?e34b361f2dd2dbc2cfa0"></script></body>
</html>